<launch>
    <!-- Get the task -->
    <arg name="task" default="grasp" />
    <arg name="rec" default='true'/>

    <param name="task" value="$(arg task)" />
    <param name="rec" value="$(arg rec)" />


    <!-- Launching the simulator -->
    <include file="$(find canopies_simulator)/launch/simulator.launch"/>
    <!-- Launching the low-level controller -->
    <include file="$(find canopies_low_level_controller)/launch/controller.launch"/>
    <!-- Launching the main loop -->
    <include file="$(find main_loop)/launch/main_loop_v2.launch"/>
    
    <!-- Running low-level commands -->
    <node pkg="imitation_learning" type="imitation_commands.py" name="imitation_commands_node" output="screen"/>


</launch>